.groupsSideBar {overflow-y: scroll; height: 468px;}
.userDetailsMinderId {
    margin-left: 14px;
    font-size: 12px;
    background-color: #5F8EB3;
    padding: 3px;
    color: #fff;
    border-radius: 4px;}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    border-color: #F1F1F1
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    border-color: #F1F1F1
}
#loaderImg {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
}
#loaderImg img {
    top: 50%;
    left: 50%;
    margin-top: -7px;
    margin-left: -64px;
    position: fixed;
}
.pageSelector {
    float: left;
    margin: 2px;
}
.btn.btn-default.inactive {background-color: #bdbdbd; cursor: default;}
.btn.btn-default.inactive:hover {border-color: #abbac3;}

.subTitle {
    margin: 4px 0px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid;
    padding-bottom: 4px;
}
.groupBox label {
    width: 180px;
}
.groupBox input {
    float: right !important;
    margin-top: 16px !important;
    margin-right: 16px !important;
}
.toggle_div img, .groupBox label img {
    width: 33px;
    margin-right: 10px;
}
.arrowRight {
    float: right;
    width: 20px;
    margin-top: 13px;
    margin-right: 10px;
}
.arrowDown {
    float: right;
    width: 20px;
    margin-top: 13px;
    margin-right: 10px;
    display: none;
}
#mapsArea{ position: relative; }
.map-question-icon{
    position: absolute;
    top: 10px;
    right: -40px;
    width: 35px;
    height: 35px;
    background: url("/img/info_icon.png");
}
.pop_mark{ font-size: 12px; padding: 5px; height: 40px; position: relative; overflow: hidden; }
.pop_mark .mark_active{ width: 19px; height: 30px; float: left; background: url("/img/active_mark_icon.png"); }
.pop_mark .mark_inactive{ width: 19px; height: 30px; float: left; background: url("/img/inactive_mark_icon.png"); }
.pop_mark .mark_title{ display: inline-block; float: left; margin-left: 10px; }
.ffinfoWindowContent{ width: 350px; display: block; overflow: visible; }

.btn.unsubscribe{ background-color: #9C0009 }

#reminder{
    margin: 12px 50px 0;
    padding: 0;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
#reminder .message{ margin-left: 10px; }
#reminder .error_msg{ color: #BC2222 }
