<div class="innerContainer">
    <h1 class="contact">Contact Us</h1>

    <div class="innerContainerinn">
        <div id="contactform">
            <form class="fm-form" name="contactUsForm" id="fm-form-1" autocomplete="on">


                <ul class="contact_ul">
                    <li>
                        <table>
                            <tbody>
                            <tr>
                                <td class="wid">
                                    <label>Your name&nbsp;<em>*</em>
                                        <label class="errorlabel">{{message.name.isEmpty}}</label>
                                    </label>
                                    <input type="text" class="wid" ng-model="contact.name" name="name"
                                           placeholder="Name"></td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li>
                        <table>
                            <tbody>
                            <tr>
                                <td class="wid">
                                    <label>Your Email&nbsp;<em>*</em>
                                        <label class="errorlabel">{{message.email.isEmpty}}</label>
                                        <label class="errorlabel">{{message.email.emailAddressInvalidFormat}}</label>
                                        <label class="errorlabel">{{message.email.emailAddressInvalidHostname}}</label>
                                    </label>
                                    <input type="text" class="wid" ng-model="contact.email" name="email"
                                           placeholder="email"></td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li>
                        <table>
                            <tbody>
                            <tr>
                                <td class="wid">
                                    <label>Your Contact No:&nbsp;<em>*</em>
                                        <label class="errorlabel">{{message.contact_no.isEmpty}}</label>
                                    </label>
                                    <input type="text" class="wid" name="contact_no" ng-model="contact.contact_no"
                                           placeholder="Contact No"></td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li>
                        <table>
                            <tbody>
                            <tr>
                                <td class="wid">
                                    <label>Do you wish to stay in touch with us?:&nbsp;<em>*</em>
                                        <label class="errorlabel">{{message.contact_type.isEmpty}}</label>
                                    </label>
                                    <select class="wid" name="contact_type" ng-model="contact.contact_type">
                                        <option value="1">Yes, by SMS and email</option>
                                        <option value="2">Yes, by SMS only</option>
                                        <option value="3">Yes, by email only</option>
                                        <option value="4">No, not interested</option>
                                    </select>
                                    <input type="hidden" id="custom_list-51c44cc076958-list-style" value="select">
                                    <input type="hidden" id="custom_list-51c44cc076958-count" value="4"></td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li>
                        <table>
                            <tbody>
                            <tr>
                                <td class="wid">
                                    <label>Your enquiry details:&nbsp;<em>*</em>
                                        <label class="errorlabel">{{message.message.isEmpty}}</label>
                                    </label>
                                    <textarea name="message" class="wid" ng-model="contact.message"
                                              placeholder="enquiry details"></textarea></td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li>
                        <table>
                            <tbody>
                            <tr>
                                <td class="wid">
                                    <label>
                                        <label class="errorlabel">{{message.captcha.wrong}}</label>
                                    </label>
                                    <div class="clearfix">
                                        <div class="form-group">
                                            <label>Captcha*</label>
                                            <div re-captcha ng-model="contact.captcha"></div>
                                        </div>
                                    </div>
                            </tr>
                            </tbody>
                        </table>
                    </li>

                    <li>
                        <table>
                            <tbody>
                            <tr>
                                <td class="wid">
                                    <div class="center">
                                        <input id="sub_btn" type="submit" ng-click="contactData()"
                                               class="submit width-65 btn btn-sm btn-success btn btn-sm btn-success"
                                               value="Submit">
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                </ul>

            </form>

        </div>
        <div id="address">
            <h2 class="contact1">Tech Natives</h2>

            <h3></h3>

            <p></p>

            <p>Level 10, 50 Market Street,</p>

            <p>Melbourne VIC 3000,</p>

            <p>Australia<br>FAX +61 3&nbsp;&nbsp;8678 1269</p>

            <p></p>

            <div id="locationMap">
                <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=ru&amp;geocode=&amp;q=Australia,+Level+10,+50+Market+Street,++Melbourne+VIC+3000&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=41.496446,80.859375&amp;ie=UTF8&amp;hq=&amp;hnear=10%2F50+Market+St,+Melbourne+Victoria+3000,+%D0%90%D0%B2%D1%81%D1%82%D1%80%D0%B0%D0%BB%D0%B8%D1%8F&amp;t=m&amp;z=14&amp;ll=-37.818073,144.960937&amp;output=embed"></iframe>
                <br/>
                <small><a
                        href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=ru&amp;geocode=&amp;q=Australia,+Level+10,+50+Market+Street,++Melbourne+VIC+3000&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=41.496446,80.859375&amp;ie=UTF8&amp;hq=&amp;hnear=10%2F50+Market+St,+Melbourne+Victoria+3000,+%D0%90%D0%B2%D1%81%D1%82%D1%80%D0%B0%D0%BB%D0%B8%D1%8F&amp;t=m&amp;z=14&amp;ll=-37.818073,144.960937"
                        style="color:#0000FF;text-align:left">View Larger Map</a></small>
                </small>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#locationMap iframe").css({width: "400px", height: "250px"});
                })
            </script>
        </div>


    </div>
    <div class="clearing"></div>


</div>