<div class="main-content">
    <h1 class="contact">Detail</h1>
    <div class="container" >
        <div class="row otstup">
            <div class="col-md-3"></div>
            <div class="col-md-6 row" style="border: 1px solid #438eb9">

                <div class="lbl lblo lblr" >
                    <label id="device_name_label" >*Device name:</label><br>
                    <input type="text" id="device_name" value="{{userDevice.device_name}}" ><br>
                    <label id="deviceGroupsLabel">Group where this device is member</label><br>
                    <select id="mySelect"  ng-options="group.id as group.name  for group in groups" ng-model="selectedGroup" ng-change="selectGroup()" value="groups.id">
                    </select>
                    <button type="button" class="btn btn-default btn-xs pull-right change" ng-click="addGroup()">
                        <span class="glyphicon glyphicon-remove-circle"></span> Add</button>
                    <br><br>
                    <div class="brd" style="height: 100px">
                        <div ng-repeat="groupDevice in groupDevices" class="lblo lbl lblr pull-left">
                            <button type="button" class="btn btn-default btn-xs ">
                                {{groupDevice.name}}</button>
                            <button type="button" class="btn btn-default btn-xs"  ng-value="{{groupDevice.group_id}}" ng-click="deleteGroup()">
                                X</button>
                        </div>

                    </div><br><br>

                    <a href="#/devices">
                        <button type="button" class="btn btn-default btn-xs pull-left">
                            <span class="glyphicon glyphicon-remove-circle"></span> Cancel</button>
                    </a>

                    <button type="button" class="btn btn-default btn-xs pull-right change" ng-click="save()">
                        <span class="glyphicon glyphicon-save"></span> Save and Close</button><br><br>
                    <label>Want to deactivate your account </label>
                    <button  class="btn btn-default btn-xs pull-right delete" ng-click="deleteDevice()">
                        <span class="glyphicon glyphicon-remove"></span> Delete</button>

                </div>


            </div>
        </div>
    </div>

</div>