<div class="main-content">
    <h1 class="contact">Devices</h1>
    <div class="container" >
        <div class="row otstup">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="border: 1px solid #438eb9">
                <div>
                    <div class="pull-left lblo lbl">
                        <label>Show</label>
                        <select ng-model="statuse" ng-change="getRows()">
                            <option value="all">All</option>
                            <option value="active">Active</option>
                            <option value="inactive">Inactive</option>
                        </select>
                    </div>
                    <div ng-if="user_type" class=" navbar-right lblo lblr" >
                        <label id="device_name_label">Select Minder ID</label>
                        <select id="mySelect" ng-model="selectedUser" ng-change="selectUser()" 
                            ng-options="user.id as user.minder_id for user in users_data" 
                            class="mindstyle"></select>
                    </div>
                </div>

                <div style="margin:15px">
                    <div class="brd fdiv" style="height: 50px;border-bottom: none;">
                        <div class="nav-search lbl lblo" id="nav-search">
                            <form class="form-search">
                                <span class="input-icon">
                                    <input type="text" ng-model="searchText" ng-change="getRows()" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
                                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                                </span>
                            </form>
                        </div>
                        <div class="pull-right lblo lblr">
                            <select id="limit" ng-model="count" ng-change="getRows()">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                    </div>

                    <div class="brd">

                        <table class="table">
                            <thead>
                            <tr>
                                <th><input type="checkbox" ng-model="checkAllDevices" ng-change="checkboxChange()"></th>
                                <th class="border-right">
                                    Device Name
                                    <a href="javascript:void(0)" ng-click="order('desc')" ng-if="orderType == 'asc'">
                                        <img src="/img/upArrow.png">
                                    </a>
                                    <a href="javascript:void(0)" ng-click="order('asc')" ng-if="orderType == 'desc'">
                                        <img src="/img/downArrow.png">
                                    </a>
                                </th>
                                <th class="border-right">Groups</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="devices in user_devices">
                                <td>
                                    <input type="checkbox" 
                                        ng-model="devices.checked" 
                                        ng-change="checkboxChange()"
                                        ng-show="devices.device_status == 'active'">
                                </td>
                                <td class="border-right">{{devices.device_name}}</td>
                                <td class="border-right" >
                                    <span class="lblr" ng-repeat="tmpGroup in devices.groups">{{tmpGroup}}<span ng-hide="$last">,</span></span>
                                </td>
                                <td>
                                    <button type="button" class="activate btn btn-default btn-xs unsubscribe" 
                                        ng-if="devices.device_status == 'subscribed'" 
                                        ng-click="activate(devices.device_id)"
                                        ng-value="{{devices.device_id}}">Unsubscribe</button>
                                
                                    <button type="button"  ng-if="devices.device_status == 'inactive' || devices.device_status == 'deleted'" 
                                        class="activate btn btn-default btn-xs change" 
                                        ng-click="activate(devices.device_id)"  
                                        ng-value="{{devices.device_id}}">
                                        <span class="glyphicon glyphicon-map-marker" ></span>
                                        <span ng-if="devices.device_status == 'inactive'">Activate</span>
                                        <span ng-if="devices.device_status == 'deleted'">Re-Activate</span>
                                    </button>

                                    <button type="button" 
                                        ng-if="devices.device_status != 'deleted'" 
                                        class="delete btn btn-default btn-xs delete" 
                                        value="{{devices.device_id}}" 
                                        ng-click="delete(devices.device_id)">
                                        <span class="glyphicon glyphicon-remove" ></span> Delete</button>
                                        
                                    <a href="#/detail/{{devices.device_id}}/{{devices.user_id}}" 
                                        ng-if="devices.device_status != 'deleted'">
                                        <button type="button" 
                                            class="edit btn btn-default btn-xs create" 
                                            value="{{devices.device_id}}">
                                            <span class="glyphicon glyphicon-edit"></span> Edit</button>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="brd" style="height: 50px;border-top: none;">
                        <label class="pull-left lbl lblo" style="font-size:12px">{{getEntriesCountString()}}</label>
                        <div class="btn-group btn-group-sm pull-right lblo lblr">
                            <button type="button" class="btn btn-default" ng-click="setPage('first')" ng-class="page == 1 ? 'inactive' : ''">First</button>
                            <button type="button" class="btn btn-default" ng-click="setPage(-1)" ng-class="page == 1 ? 'inactive' : ''">Prev</button>
                            <button type="button" class="btn btn-default" ng-click="setPage(1)" ng-class="page == lastPage ? 'inactive' : ''">Next</button>
                            <button type="button" class="btn btn-default" ng-click="setPage('last')" ng-class="page == lastPage ? 'inactive' : ''">Last</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row otstup">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="margin: 0 15px 15px;">
                <p><strong>Plan:</strong>&nbsp;<span>{{plan.title}} (${{plan.per_device}} device/month)</span></p>
                <p><strong>Number of selected devices:</strong>&nbsp;<span>{{checkedCount()}} out of {{user_devices.length}}</span></p>
                <p><strong>Number of days:</strong>&nbsp;<span>17</span></p>
                <p><strong>Total cost:</strong>&nbsp;<span>${{plan.per_device * checkedCount()}}</span></p>
                <button type="button"
                    class="activate btn btn-default btn-xs change"
                    ng-click="">Pay via Srtipe</button>
                <p><label><input type="checkbox" >&nbsp;Re-new subscription</label></p>
            </div>
        </div>
    </div>
</div>