<div class="main-content">
    <h1 class="contact">Group Detail</h1>
    <div class="container">
        <div class="row otstup">
            <div class="col-md-3"></div>
            <div class="col-md-6 row" style="border: 1px solid #438eb9">

                <div class="lbl lblo lblr" >
                    <input id="group_name" name="group_name" type="text" value="{{selectedGroup.name}}"  />
                    <button type="button" class="btn btn-default btn-xs lbl change" ng-click="changeGroup()">
                        <span class="glyphicon glyphicon-remove-circle"></span> Change</button>
                    <br><br>
                    <select id="mySelect" class="mindstyle" 
                        ng-options="userDevice.device_id as userDevice.device_name for userDevice in userDevices" 
                        ng-model="selectedDevice" 
                        ng-change="selectDevice()">
                    </select>
                    <button type="button" class="btn btn-default btn-xs lbl change" ng-click="addDevice()">
                        <span class="glyphicon glyphicon-remove-circle"></span> Add to Group</button>                  <br><br>
                    <div class="brd">
                        <div style="margin:15px">
                            <div class="brd fdiv" style="height: 50px;border-bottom: none;">
                                <div class="nav-search lbl lblo" id="nav-search">
                                    <form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
								<i class="ace-icon fa fa-search nav-search-icon"></i>
							</span>
                                    </form>
                                </div>
                                <div class="pull-right lblo lblr">
                                    <select>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                    </select>
                                </div>
                            </div>

                            <div class="brd">

                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="border-right">Device Name</th>
                                        <th class="border-right">Delete</th>
                                        <th>Edit</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="groupDevice in groupDevices" >
                                        <td class="border-right">{{groupDevice.device_name}}</td>
                                        <td  class="border-right" >
                                            <button type="button" class="delete btn btn-default btn-xs delete" value="{{groupDevice.device_id}}" ng-click="deleteGroupDevice()">
                                                <span class="glyphicon glyphicon-remove" ></span> Delete</button>
                                        </td>
                                        <td>
                                            <button type="button" class="edit btn btn-default btn-xs close" ></button>
                                            <a href="#/detail/{{groupDevice.device_id}}/{{user_id}}">
                                                <button type="button" class="edit btn btn-default btn-xs create" >
                                                    <span class="glyphicon glyphicon-edit"></span> Edit</button>
                                            </a>

                                        </td>
                                    </tr>

                                    </tbody>
                                </table>

                            </div>
                            <div class="brd" style="height: 50px;border-top: none;">
                                <label class="pull-left lbl lblo"style="font-size:12px">Showing 1 to 10 of 25 entries</label>
                                <div class="btn-group btn-group-sm pull-right lblo lblr">
                                    <button type="button" class="btn btn-default">First</button>
                                    <button type="button" class="btn btn-default">Prev</button>
                                    <button type="button" class="btn btn-default one">1</button>
                                    <button type="button" class="btn btn-default">Next</button>
                                    <button type="button" class="btn btn-default">Last</button>
                                </div>
                            </div>
                        </div>

                    </div><br><br>


                </div>


            </div>
        </div>
    </div>

</div>