<div id="home" class="home ">
    <h1 class="contact">Groups</h1>
    <div class="container" ng-controller="GroupsCtrl">
        <div class="row otstup">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="border: 1px solid #438eb9;">
                <div>

                    <div ng-if="user_type" class=" pull-left lblo lblr" >
                        <label id="gr_minder_id">Select Minder ID</label>
                        <select id="mySelect"  ng-model="selectedUser" ng-change="selectUser()" ng-options="user.id as user.minder_id  for user in users_data" class="mindstyle">
                        </select>
                    </div>
                    <div class="pull-right lblo lblr">
                        <label class="errorlabel pull-left">{{message}}</label>
                        <label class="errorlabel pull-left">{{another_name}}</label>
                        <input type="text" id="groupName" name="group_name" class="create_group pull-left" placeholder="Enter group name">
                        <button type="button" class="btn btn-default btn-sm pull-right create"  ng-click="createGroup()" style="margin: 0 10px">
                            <span class="glyphicon glyphicon-plus"></span> Create </button>
                    </div>
                </div>

                <div style="margin:15px">
                    <div class="brd fdiv" style="height: 50px;border-bottom: none;">
                        <div class="nav-search lbl lblo" id="nav-search">
                            <form class="form-search">
							<span class="input-icon">
								<input type="text" ng-model="searchText" ng-change="getRows()" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
								<i class="ace-icon fa fa-search nav-search-icon"></i>
							</span>
                            </form>
                        </div>
                        <div class="pull-right lblo lblr">
                            <select id="limit" ng-model="count" ng-change="getRows()">
                                <option value="2">2</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                    </div>

                    <div class="brd">
                        <table>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="border-right">
                                        Groupe Name
                                        <a href="javascript:void(0)" ng-click="order('desc')" ng-if="orderType == 'asc'">
                                            <img src="/img/upArrow.png">
                                        </a>
                                        <a href="javascript:void(0)" ng-click="order('asc')" ng-if="orderType == 'desc'">
                                            <img src="/img/downArrow.png">
                                        </a>
                                    </th>
                                    <th class="border-right"># of devices</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="group in groups">
                                    <td  class="border-right">{{group.name}}</td>
                                    <td  class="border-right">{{group.count}}</td>
                                    <td>
                                        <a href="#/gr-detail/{{group.id}}/{{userId}}">
                                            <button type="button" class="edit btn btn-default btn-xs create">
                                                <span class="glyphicon glyphicon-edit"></span> Edit</button>
                                        </a>
                                        <button type="button" class="delete btn btn-default btn-xs delete" value="{{group.id}}" ng-click="delete(group.id)">
                                            <span class="glyphicon glyphicon-remove" ></span> Delete</button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </table>
                    </div>
                    <div class="brd" style="height: 50px;border-top: none;">
                        <label class="pull-left lbl lblo" style="font-size:12px">{{getEntriesCountString()}}</label>
                        <div class="btn-group btn-group-sm pull-right lblo lblr">
                            <button type="button" class="btn btn-default" ng-click="setPage('first')" ng-class="page == 1 ? 'inactive' : ''">First</button>
                            <button type="button" class="btn btn-default" ng-click="setPage(-1)" ng-class="page == 1 ? 'inactive' : ''">Prev</button>
                            <button type="button" class="btn btn-default" ng-click="setPage(1)" ng-class="page == lastPage ? 'inactive' : ''">Next</button>
                            <button type="button" class="btn btn-default" ng-click="setPage('last')" ng-class="page == lastPage ? 'inactive' : ''">Last</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>