<?php if ($loggedIn) { ?>
    <?php include(dirname(__DIR__) . "/index/map.phtml"); ?>
<?php } else { ?>

    <div id="login-box" class="login-box visible widget-box no-border">
        <div class="widget-body">
            <div class="widget-main">
                <h4 class="header blue lighter bigger">
                    <i class="ace-icon fa fa-coffee green"></i>
                    Please Enter Your Information
                </h4>


                <div class="errorbox">
                    <label class="errorlabel">{{message}}</label>
                </div>

                <form id="auth">
                    <fieldset>
                        <label class="block clearfix">
														<span class="block input-icon input-icon-right">

                                                            <input name="email" ng-model="user.email" type="text" class="form-control" placeholder="Enter your Email." value="">														</span>
                            <label class="errorlabel">{{filtermessages.email.isEmpty}}</label>
                            <label class="errorlabel">{{filtermessages.email.emailAddressInvalidFormat}}</label>
                            <label class="errorlabel">{{filtermessages.email.emailAddressInvalidHostname}}</label>

                        </label>

                        <label class="block clearfix">
														<span class="block input-icon input-icon-right">

                                                            <input name="password" ng-model="user.password" type="password" class="form-control" placeholder="Enter your password." value="">														</span>
                            <label class="errorlabel">{{filtermessages.password.isEmpty}}</label>
                            <label class="errorlabel">{{filtermessages.password.stringLengthInvalid}}</label>
                            <label class="errorlabel">{{filtermessages.password.stringLengthTooShort}}</label>
                            <label class="errorlabel">{{filtermessages.password.stringLengthTooLong}}</label>
                        </label>


                        <div class="checkbox pull-left">
                            <label>
                                <input type="checkbox" > Remember me
                            </label>
                        </div>

                        <div class="clearfix">

                            <button type="button" class="width-45 pull-right btn btn-sm btn-primary login-btn" ng-click="loginUser()">
                                <i class="ace-icon fa fa-key"></i>
                                <span class="bigger-110">Login</span>
                            </button>
                        </div>

                        <div class="space-4"></div>

                    </fieldset>
                </form>



            </div><!-- /.widget-main -->

            <div class="toolbar clearfix">
                <div>
                    <a href="#/forgot" data-target="#forgot-box" class="forgot-password-link">
                        <i class="ace-icon fa fa-arrow-left"></i>
                        I forgot my password
                    </a>
                </div>

                <div>
                    <a href="#/singup" data-target="#signup-box" class="user-signup-link">
                        I want to register
                        <i class="ace-icon fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div><!-- /.widget-body -->
    </div>
<?php } ?>