<!DOCTYPE html>
<!-- test -->
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="$root.title">Minder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon"
          type="image/png"
          href="/favicon.png">
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>

    <!-- google API v.3 plugin  -->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <!-- text fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300"/>

    <!-- ace styles -->
    <link rel="stylesheet" href="/css/ace.min.css"/>
    <link rel="stylesheet" href="/css/angular_loading.css"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/css/ace-part2.min.css"/>
    <![endif]-->
    <link rel="stylesheet" href="/css/ace-rtl.min.css"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/css/ace-ie.min.css"/>
    <![endif]-->
    <link rel="stylesheet" href="/js/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="/js/html5-boilerplate/css/main.css">
    <script type="text/javascript" src="/js/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>

</head>
<body class="no-skin" ng-controller="MainCtrl">
<div id="loaderImg">
    <img src="/img/ajax-loader.gif" />
</div>
<div id="navbar" class="navbar navbar-default">

    <div class="navbar-container" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
            <span class="sr-only">Toggle sidebar</span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        <ul class="nav navbar-nav">
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <small>
                        <img class="logo" src="/img/minder_web_logo_new.png"/>
                    </small>
                </a>
            </div>
            <li><a href="#/">Home</a></li>
            <li><a href="#/groups" ng-show="loggedIn">Groups</a></li>
            <li><a href="#/devices" ng-show="loggedIn">Devices</a></li>
            <li><a href="#/management" ng-show="loggedIn" ng-if="user_type">User Management</a></li>
            <li><a href="#/contact-us" ng-show="loggedOut">Contact Us</a></li>
        </ul>
        <div id="reminder" class="pull-left">
            Reminder
            <span class="message error_msg">5 subscription days remains</span>
        </div>
        <div class="pull-right" id="loader" ng-hide="loggedOut || loggedIn"></div>
        <div class="login-div pull-right" ng-show="loggedOut">
            <div class="lblo">
                <a href="#/signup">Sign Up</a>
                <a href="#/login">Login</a>
            </div>
        </div>

        <ul class="nav navbar-nav pull-right" ng-show="loggedIn">
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" ng-show="loggedIn">
                    <span class="glyphicon glyphicon-user"></span> <span ng-bind="first_name"></span> <span ng-bind="last_name"></span>
                    <strong class="caret"></strong>
                </a>

                <ul class="dropdown-menu">
                    <li><a href="#/profile/{{user_id}}">Profile</a></li>
                    <li><a href="#" ng-click="logout()">Logout</a></li>
                </ul>
            </li>
        </ul>
        <!-- end nav pull-right -->


    </div>
    <!-- /.navbar-container -->
</div>

<div class="main-container" id="main-container">

    <div class="main-content">
        <!--jumbotron-->
        <ng-view></ng-view>
    </div>
    <!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Minder</span>
                            &copy; 2013-2014
						</span>

                &nbsp; &nbsp;
						<span class="action-buttons">
							<a href="#">
                                <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                            </a>

							<a href="#">
                                <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                            </a>
						</span>
            </div>
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div>
<!-- /.main-container -->




<!-- <![endif]-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!--[if IE]>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<![endif]-->

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="/js/angular.js"></script>
<script src="/js/angular-route.js"></script>
<script src="/js/angular-cookies.min.js"></script>
<script src="/js/jquery-ui.custom.min.js"></script>
<script src="/js/jquery.ui.touch-punch.min.js"></script>
<script src="/js/jquery.easypiechart.min.js"></script>
<script src="/js/jquery.sparkline.min.js"></script>
<script src="/js/flot/jquery.flot.min.js"></script>
<script src="/js/flot/jquery.flot.pie.min.js"></script>
<script src="/js/flot/jquery.flot.resize.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

 <script src="/js/app.js"></script> 
<script src="/js/google_map.min.js"></script>
<script src="/js/angular_loading.js"></script>
<script src="/js/angular-re-captcha.js"></script>
<script src="/js/services.js"></script>
<script src="/js/controllers.js"></script>
<script src="/js/filters.js"></script>
<script src="/js/directives.js"></script>
</body>
</html>
