<div class="main-content">
    <h1 class="contact">User Management</h1>

    <div class="container">
        <div class="row otstup">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="border: 1px solid #438eb9">
                <div>
                    <div class="pull-left lblo lbl">
                        <label>Show</label>
                        <select ng-model="statuse" ng-change="getRows()">
                            <option value="0">All</option>
                            <option value="1">Active</option>
                            <option value="2">Inactive</option>
                        </select>

                    </div>
                </div>

                <div style="margin:15px">
                    <div class="brd fdiv" style="height: 50px;border-bottom: none;">
                        <div class="nav-search lbl lblo" id="nav-search">
                            <form class="form-search">
							<span class="input-icon">
								<input type="text" ng-model="searchText" ng-change="getRows()" placeholder="Search ..."
                                       class="nav-search-input" id="nav-search-input" autocomplete="off">
								<i class="ace-icon fa fa-search nav-search-icon"></i>
							</span>
                            </form>
                        </div>
                        <div class="pull-right lblo lblr">
                            <select id="limit" ng-model="count" ng-change="getRows()">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                    </div>

                    <div class="brd">

                        <table class="table">
                            <thead>
                            <tr>
                                <td class="border-right">
                                    <strong>User name</strong>
                                    <a href="javascript:void(0)" ng-click="order('desc')" ng-if="orderType == 'asc'">
                                        <img src="/img/upArrow.png">
                                    </a>
                                    <a href="javascript:void(0)" ng-click="order('asc')" ng-if="orderType == 'desc'">
                                        <img src="/img/downArrow.png">
                                    </a>
                                </td>
                                <td class="border-right"><strong>#of devices</strong></td>
                                <td class="border-right"><strong>Minder ID</strong></td>
                                <td><strong>Action</strong></td>
                            </tr>
                            </thead>
                            <tbody>

                            <tr ng-repeat="allUser in allUsers">
                                <td>{{allUser.email}}</td>
                                <td>{{allUser.c}}</td>
                                <td>{{allUser.minder_id}}</td>
                                <td>
                                    <form class="form-inline" role="form">
                                        <button type="button" ng-if="allUser.status==1"
                                                class="btn btn-danger btn-sm change" ng-click="activate(allUser.id)">
                                            Activate
                                        </button>
                                        <button type="button"
                                                class="btn btn-danger btn-sm delete" ng-click="delete(allUser.id)">
                                            Delete
                                        </button>
                                        <a href="#/user-detail/{{allUser.id}}">
                                            <button type="button" class="btn btn-info btn-sm create">Edit</button>
                                        </a>
                                        <label ng-if="allUser.status==0">Not Confirmed</label>
                                    </form>
                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                    <div class="brd" style="height: 50px;border-top: none;">
                        <label class="pull-left lbl lblo" style="font-size:12px">{{getEntriesCountString()}}</label>

                        <div class="btn-group btn-group-sm pull-right lblo lblr">
                            <button type="button" class="btn btn-default" ng-click="setPage('first')"
                                    ng-class="page == 1 ? 'inactive' : ''">First
                            </button>
                            <button type="button" class="btn btn-default" ng-click="setPage(-1)"
                                    ng-class="page == 1 ? 'inactive' : ''">Prev
                            </button>
                            <button type="button" class="btn btn-default" ng-click="setPage(1)"
                                    ng-class="page == lastPage ? 'inactive' : ''">Next
                            </button>
                            <button type="button" class="btn btn-default" ng-click="setPage('last')"
                                    ng-class="page == lastPage ? 'inactive' : ''">Last
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>