<div class="jumbotron">
    <!--container-->
    <div class="container">
        <!--row-->
        <div class="row">
            <!--col-md-3-->
            <div class="col-md-3" style="z-index: 100">
                <form ng-if="user_type" class="form-inline" role="form">
                    <div class="form-group">
                        <small>Select Minder ID</small>
                    </div>
                    <div class="form-group">
                        <select id="mySelect" ng-model="selectedUser" ng-change="selectUser()"
                                ng-options="user.id as user.minder_id  for user in users_data" class="mindstyle">
                        </select>
                    </div>
                </form>
                <br>

                <div class="btn-group">
                    <button type="button" id="location" class="btn btn-default btn-sm"
                            ng-class="{'change': getCheck() == 1}"
                            ng-click="check(fooSelected)" style="width:120px; margin-left:40px">Location
                    </button>

                </div>
                <br/>


                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm active-active" style="width:100px"
                            id="activeTabBtn" ng-click="getActiveDevice()">Active
                    </button>
                    <button type="button" class="btn btn-default btn-sm active-active" style="width:100px"
                            id="inactiveTabBtn" ng-click="getInactiveDevice()">Inactive
                    </button>

                </div>
                <div class="dropdown" style="max-height: 400px; overflow-y:auto">
                    <div>
                        <ul ng-repeat="inactiveDevice in inactiveDevices">
                            <li role="presentation" class="dropdown-header">
                                <label>
                                    <img src="/pic/admin.png"> {{inactiveDevice.device_name}}
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="groupsSideBar">
                    <h3 class="subTitle" ng-if="groups">Groups</h3>
                    <div ng-repeat="group in groups" class="allGroupBox">
                        <div class="groupBox">
                            <label class="drop_down" onclick="openHideGroupBox(this)">
                                <img src="/img/group.png"><strong>{{group.name}}</strong>
                            </label>
                            <img src="/img/arrow_right.png" class="arrowRight" onclick="openHideGroupBox(this)" />
                            <img src="/img/arrow_down.png" class="arrowDown" onclick="openHideGroupBox(this)" />
                            <input type="checkbox" id="check_group" ng-model="master">
                        </div>
                        <div class="toggle_div">
                            <div ng-repeat="devices in group.group_devices">
                                <div>
                                    <li role="presentation" class="dropdown-header">
                                        <label>
                                            <input type="checkbox" ng-checked="master" ng-model='fooSelected'
                                                   value="{{devices.device_id}}" class="check_device" style="display: none;" >
                                            <img src="/img/device.png"> {{devices.device_name}}
                                        </label>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h3 class="subTitle" ng-if="activeDevices">Devices</h3>
                        <div>
                            <div ng-repeat="activeDevice in activeDevices">
                                <div class="groupBox">
                                    <label>
                                        <img src="/img/device.png"><strong> {{activeDevice.device_name}}</strong>
                                    </label>
                                    <input type="checkbox" ng-checked="master" ng-model='fooSelected'
                                           value="{{activeDevice.device_id}}" class="check_device">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End col-md-3-->
            <!--col-md-4-->
            <div id="mapsArea" ng-app="mapsApp" ng-controller="MapCtrl">
                <div id="map"></div>
                <div class="map-question-icon" 
                    data-toggle="popover"></div>
                <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
                    <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
                </div>
            </div>
            <script type="text/javascript">
                var startProcess = false;
                var openHideGroupBox = function(el) {
                    if (startProcess == true) {
                        return false;
                    }
                    if ($(el).closest(".allGroupBox").find('.toggle_div').hasClass("opened")) {
                        startProcess = true;
                        $(el).closest(".allGroupBox").find('.toggle_div').removeClass("opened");
                        $(el).closest(".allGroupBox").find('.toggle_div').slideUp(function() {
                            startProcess = false;
                        });
                        $(el).closest(".allGroupBox").find('.arrowRight').show();
                        $(el).closest(".allGroupBox").find('.arrowDown').hide();
                    } else {
                        startProcess = true;
                        $(el).closest(".allGroupBox").find('.toggle_div').addClass("opened");
                        $(el).closest(".allGroupBox").find('.toggle_div').slideDown(function() {
                            startProcess = false;
                        });
                        $(el).closest(".allGroupBox").find('.arrowRight').hide();
                        $(el).closest(".allGroupBox").find('.arrowDown').show();
                    }
                }
                $(document).ready(function(){
                    $('.map-question-icon').popover({
                        'content': 
                            '<div class="pop_mark">'+
                                '<div class="mark_active"></div><div class="mark_title">This&nbsp;icon&nbsp;shows&nbsp;user&nbsp;current&nbsp;location</div>'+
                            '</div>'+
                            '<div class="pop_mark">'+
                                '<div class="mark_inactive"></div><div class="mark_title">This&nbsp;icon&nbsp;shows&nbsp;user&nbsp;last&nbsp;location</div>'+
                            '</div>',
                        'trigger': 'hover',
                        'html' : true,
                        'placement': 'left',
                    });
                });
            </script>

        </div>
        <!--End col-md-4-->
    </div>
    <!-- End row-->
</div>
<!--End container-->
</div>
<!--End jumbotron-->