<div class="main-content" style="background-color: #EBEBEB;padding: 20px;">
    <h1 class="contact">My Profile</h1>
    <div class="container" >
        <div class="row otstup">
            <div class="col-md-3"></div>
            <div class="col-md-6 row">

                <div class="container">
                    <h3>Minder ID<small class="lbl userDetailsMinderId">{{user.minder_id}}</small></h3>
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal" role="form">

                                <div class="form-group">
                                    <label class="block clearfix" style="margin-left:15px">First Name*</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control"  name="first_name" id="first_name"  value="{{user.first_name}}">
                                        <label class="errorlabel">{{message.first_name.isEmpty}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="block clearfix" style="margin-left:15px">Last Name*</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control"  name="last_name" id="last_name"  value="{{user.last_name}}">
                                        <label class="errorlabel">{{message.last_name.isEmpty}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="block clearfix" style="margin-left:15px">Email*</label>
                                    <div class="col-sm-4">
                                        <input name="email" type="text" class="form-control"  id="email"  value="{{user.email}}" >
                                        <label class="errorlabel">{{message.email.isEmpty}}</label>
                                        <label class="errorlabel">{{message.email.emailAddressInvalidFormat}}</label>
                                        <label class="errorlabel">{{message.email.emailAddressInvalidHostname}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="block clearfix"  style="margin-left:15px"> New Password</label>
                                    <div class="col-sm-4">
                                        <input name="password" id="password" type="password"  class="form-control" >
                                        <label class="errorlabel">{{message.password.isEmpty}}</label>
                                        <label class="errorlabel">{{message.password.stringLengthTooShort}}</label>
                                        <label class="errorlabel">{{message.password.stringLengthTooLong}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="block clearfix" style="margin-left:15px">Re-enter New Password</label>
                                    <div class="col-sm-4">
                                        <input type="password" name="confirm_password"  id="confirm_password" class="form-control" >
                                        <label class="errorlabel">{{message.confirm_password.isEmpty}}</label>
                                        <label class="errorlabel">{{message.confirm_password.notSame}}</label>
                                        <label class="errorlabel">{{confirm}}</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <a href="#/home-map"><button type="button" class="btn btn-default">Cancel</button></a>
                                        <button type="button" class="btn btn-default change pull-right lblb"  ng-click="save()" >Save</button>
                                    </div>
                                </div>
                                <div ng-if="user_type==false" class="col-md-4" style="margin-top:25px">
                                    <p style="font-size:16px">Want to deactivate your account?</p>
                                    <button type="button" class="btn btn-default delete pull-right" style="margin-top:-50px" ng-click="delete(user.id)">Delete</button>

                                </div>

                            </form>   <!--/container-->
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

</div>