
<div id="forgot-box" class="forgot-box widget-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header red lighter bigger">
                Reset Password
            </h4>




            <form>
                <fieldset>
                    <label class="message_text" style="padding: 0">{{done}}</label>
                    <p class="forgot">
                        Enter your new password
                    </p>
                    <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" name="password" id="password" ng-model="reset.password"  class="form-control reset_input" placeholder="New Password">

                                    <label class="errorlabel">{{message.password.isEmpty}}</label>
                                    <label class="errorlabel">{{message.password.stringLengthTooShort}}</label>
                                    <label class="errorlabel">{{message.password.stringLengthTooLong}}</label>

														</span>
                    </label>
                    <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input type="password" name="confirm_password" id="confirm_password" ng-model="reset.confirm_password"  class="form-control reset_input" placeholder="Re-enter New Password">
    <label class="errorlabel">{{message.confirm_password.isEmpty}}</label>
                                    <label class="errorlabel">{{message.confirm_password.notSame}}</label>
                                                            </span>
                    </label>

                    <div class="clearfix">
                        <button type="button" ng-click="resetPass()"  class="width-45 pull-right btn btn-sm btn-danger">
                            <span class="bigger-110">Submit</span>
                        </button>
                    </div>
                </fieldset>
            </form>
        </div><!-- /.widget-main -->

    </div><!-- /.widget-body -->
</div>

