<div id="signup-box" class="signup-box widget-box no-border visible">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header green lighter bigger">
                <i class="ace-icon fa fa-users blue"></i>
                New User Registration
            </h4>


            <div class="space-6"></div>

            <form id="singup" name="registerForm">
                <fieldset>

                    <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input name="first_name" ng-model="singup.first_name"
                                                                   type="text" class="form-control"
                                                                   placeholder="First Name" value=""></span>
                        <label class="errorlabel">{{message.first_name.isEmpty}}</label>

                    </label>

                    <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input name="last_name" ng-model="singup.last_name"
                                                                   type="text" class="form-control"
                                                                   placeholder="Last Name" value=""></span>
                        <label class="errorlabel">{{message.last_name.isEmpty}}</label>

                    </label>


                    <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input name="email" ng-model="singup.email" type="text"
                                                                   class="form-control" placeholder="Email" value="">		</span>
                        <label class="errorlabel">{{message.email.isEmpty}}</label>
                        <label class="errorlabel">{{message.email.emailAddressInvalidFormat}}</label>
                        <label class="errorlabel">{{message.email.emailAddressInvalidHostname}}</label>
                        <label class="errorlabel">{{emailaleardyhave}}</label>
                    </label>

                    <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input name="password" ng-model="singup.password"
                                                                   type="password" class="form-control"
                                                                   placeholder="New Password" value="">	</span>
                        <label class="errorlabel">{{message.password.isEmpty}}</label>
                        <label class="errorlabel">{{message.password.stringLengthTooShort}}</label>
                        <label class="errorlabel">{{message.password.stringLengthTooLong}}</label>
                    </label>

                    <label class="block clearfix">
														<span class="block input-icon input-icon-right">
															<input name="confirm_password"
                                                                   ng-model="singup.confirm_password" type="password"
                                                                   class="form-control"
                                                                   placeholder="Re-enter New Password"
                                                                   value="">	</span>
                        <label class="errorlabel">{{message.confirm_password.isEmpty}}</label>
                        <label class="errorlabel">{{message.confirm_password.notSame}}</label>
                    </label>
                    <label class="block">
                        <input type="hidden" name="agreeterms" ng-model="singup.agreeterms" value="no">
                        <input type="checkbox" name="agreeterms" ng-model="singup.agreeterms" value="1">
                                <span class="lbl">
															<a href="#/terms-and-conditions">I Accept the Terms and Conditions</a>
								</span>
                        <label class="errorlabel">{{agreement}}</label>

                    </label>

                    <div class="clearfix">
                        <div class="form-group">
                            <label>Captcha*</label>
                            <div re-captcha ng-model="singup.captcha"></div>
                        </div>
                    </div>
                    <div class="space-24"></div>
                    <div class="clearfix">
                        <button type="reset" class="width-30 pull-left btn btn-sm">
                            <i class="ace-icon fa fa-refresh"></i>
                            <span class="bigger-110">Cancel</span>
                        </button>
                        <input name="submit" type="submit" ng-click="singupUser()" id="submit"
                               class="width-65 pull-right btn btn-sm btn-success" value="Register">
                    </div>
                </fieldset>
            </form>
        </div>


    </div>
    <!-- /.widget-body -->
</div>

