<h1 class="contact">Tour</h1>
<div class="innerContainerinn" style="width: 70%">

    <img class="tour-img" src="http://www.tech-natives.com/wp-content/uploads/2013/06/abouimg-e1372394155921.jpg">
    <p></p><p>Simplicity is what best describe Technatives solution offering. Technatives is a goal-oriented and solutions-focused group who specializes in state-of-the-art online solutions.&nbsp;&nbsp;The Technatives team ensures that our mobile solutions are always “ahead of the curve”.</p>
    <p><br> With years of experience and a proven track record in the IT industry, our pool of IT professionals can help you achieve your personal and business goals. Technatives is the go-to place when it comes to mobile solutions.<br> The company has also researched a wide array of mobile solutions to provide every business and entrepreneur with the best and most innovative ways of developing trusted mobile applications. By employing these measures, we have remained a step above the rest among our competitors in the industry.</p>
    <p><br> Technatives observes, listens and interprets. We observe the latest in mobile trends, listen to the demands of our clients and interpret it through our quality service.</p><p></p>
</div>